name: Arduino-lint

on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: arduino/arduino-lint-action@v2
        with:
          library-manager: update
          compliance: strict